<section id="yoga-classes" class="explore">
  <div class="container">
    <ul class="explore__list">
      <li class="explore__item">
        <p class="explore__label explore__label--moved">Explore</p>
        <h2 class="explore__title">
          <span class="explore__title-text explore__title-text--desktop"
            >Discover Our Most Popular Yoga Programs</span
          >
          <span class="explore__title-text explore__title-text--tablet"
            >Transform Your Life with Our Yoga Classes</span
          >
        </h2>
        <p class="explore__description">
          Join our community and elevate your practice with our expertly
          designed yoga programs. Each course is tailored to meet various skill
          levels and personal goals.
        </p>
      </li>

      <li class="explore__item explore__item--classes">
        <picture class="explore__picture">
          <source
            media="(min-width: 1336px)"
            srcset="
              ../images/yoga-section/YogaBloom-dt-1x/Placeholder-Image.webp 1x,
              ../images/yoga-section/YogaBloom-dt-2x/Placeholder-Image.webp 2x
            "
            width="421"
            height="240"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../images/yoga-section/YogaBloom-tab-1x/Placeholder-Image.webp 1x,
              ../images/yoga-section/YogaBloom-tab-2x/Placeholder-Image.webp 2x
            "
            width="340"
            height="240"
          />
          <img
            loading="lazy"
            src="../images/yoga-section/YogaBloom-mob-1x/Placeholder-Image.webp"
            srcset="
              ../images/yoga-section/YogaBloom-mob-1x/Placeholder-Image.webp 1x,
              ../images/yoga-section/YogaBloom-mob-2x/Placeholder-Image.webp 2x
            "
            alt="girls doing yoga"
            class="explore__img"
            width="343"
            height="198"
          />
        </picture>
        <h3 class="explore__subtitle">
          Beginner Yoga: Foundations
          <span class="explore__subtitle-addon">for New Practitioners</span>
        </h3>
        <p class="explore__description">
          Learn the basics of yoga in a supportive environment.
        </p>
      </li>

      <li class="explore__item explore__item--classes">
        <picture class="explore__picture">
          <source
            media="(min-width: 1336px)"
            srcset="
              ../images/yoga-section/YogaBloom-dt-1x/Placeholder-Image-1.webp 1x,
              ../images/yoga-section/YogaBloom-dt-2x/Placeholder-Image-1.webp 2x
            "
            width="421"
            height="240"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../images/yoga-section/YogaBloom-tab-1x/Placeholder-Image-1.webp 1x,
              ../images/yoga-section/YogaBloom-tab-2x/Placeholder-Image-1.webp 2x
            "
            width="340"
            height="240"
          />
          <img
            loading="lazy"
            src="../images/yoga-section/YogaBloom-mob-1x/Placeholder-Image-1.webp"
            srcset="
              ../images/yoga-section/YogaBloom-mob-1x/Placeholder-Image-1.webp 1x,
              ../images/yoga-section/YogaBloom-mob-2x/Placeholder-Image-1.webp 2x
            "
            alt="girls doing yoga"
            class="explore__img"
            width="343"
            height="198"
          />
        </picture>
        <h3 class="explore__subtitle">
          Vinyasa Flow: Energize Your Body and Mind
        </h3>
        <p class="explore__description">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </li>

      <li class="explore__item explore__item--classes">
        <picture class="explore__picture">
          <source
            media="(min-width: 1336px)"
            srcset="
              ../images/yoga-section/YogaBloom-dt-1x/Placeholder-Image-2.webp 1x,
              ../images/yoga-section/YogaBloom-dt-2x/Placeholder-Image-2.webp 2x
            "
            width="421"
            height="240"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../images/yoga-section/YogaBloom-tab-1x/Placeholder-Image-2.webp 1x,
              ../images/yoga-section/YogaBloom-tab-2x/Placeholder-Image-2.webp 2x
            "
            width="704"
            height="282"
          />
          <img
            loading="lazy"
            src="../images/yoga-section/YogaBloom-mob-1x/Placeholder-Image-2.webp"
            srcset="
              ../images/yoga-section/YogaBloom-mob-1x/Placeholder-Image-2.webp 1x,
              ../images/yoga-section/YogaBloom-mob-2x/Placeholder-Image-2.webp 2x
            "
            alt="girls doing yoga"
            class="explore__img"
            width="343"
            height="198"
          />
        </picture>
        <h3 class="explore__subtitle">
          Restorative Yoga: Deep Relaxation and Healing
        </h3>
        <p class="explore__description">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </li>

      <li class="explore__item">
        <a class="explore__anchor" href="#pricing">Join now</a>
      </li>
    </ul>
  </div>
</section>
